[Roots]
# תיקיית המקור (C:/VerilogRTLCourse)
LAB_ROOT_DIR = C:/VerilogRTLCourse

# תיקיית הפרויקטים של Vivado (C:/VivadoProjects/Projects/VerilogRTLCourse)
VIVADO_PROJECTS_ROOT = C:/VivadoProjects/Projects/VerilogRTLCourse

[Tools]
# --- ודא שנתיב זה תואם לגרסה המותקנת אצלך ---
VIVADO_PATH = C:/Vitis/Vivado/2022.2/bin/vivado.bat

[Relative_Paths]
RTL_DIR         = design/rtl
REPORTS_DIR     = docs/vivado_reports
SCRIPTS_DIR     = scripts

[Files]
NETLIST_NAME    = synth_netlist.v
UTIL_RPT_NAME   = utilization_report.txt
CSV_RPT_NAME    = FINAL_FF_COMPARISON.csv